body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

input,
textarea {
  font-size: 1rem;
  width: 90%;
}

button {
  background-color: aquamarine;
  border: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

h1 {
  margin: 0.5rem 0;
}

h2 {
  margin: 0.5rem 0 0.375rem;
}

.row {
  display: block;
  display: flex;
  flex-direction: row;
  margin: 0;
  min-width: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
  align-items: center;
}
.row.justify-center {
  justify-content: center;
}
.row.justify-end {
  justify-content: flex-end;
}
.row.justify-start {
  justify-content: flex-start;
}
.row.justify-space-around {
  justify-content: space-around;
}
.row .col-1-6 {
  flex-basis: 16.666%;
}
.row .col-2-6 {
  flex-basis: 33.333%;
}
.row .col-3-6 {
  flex-basis: 50%;
}
.row .col-4-6 {
  flex-basis: 66.666%;
}
.row .col-5-6 {
  flex-basis: 83.333%;
}

.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}
.text-align-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.justify-content-flex-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.width-90 {
  width: 90%;
}

.month > .row {
  border-bottom: 1px solid #ccc;
}

button.padded-left {
  padding-left: 0.5rem;
}
button.delete {
  background-color: orangered;
  color: white;
}

.loading::before {
  content: 'Loading...';
}

.error {
  color: red;
}

@media print {
  .noprint {
    display: none !important;
  }
}
